body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

;

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

h2 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

p {
    color: #34495e;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
}

input[type="text"],
text .file-upload-text {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

input::placeholder {
    color: #999;
}

.file-upload-input {
    display: none;
}

.file-upload-text {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f0f0f0;
    cursor: pointer;
}

.file-upload-text::before {
    content: 'Choose File';
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    margin-right: 10px;
}

.file-upload-text:hover::before {
    background-color: #0056b3;
}

button.submit-button {
    background-color: #27ae60;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button.submitButton {
    margin-top: 3%;
    border-radius: 4px;
    height: 40px;
    background-color: #27ae60;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button.submitButton:hover {
    background-color: #219150;
}

.return-btn {
    text-decoration: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}



input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
}

#courseSelect {
    margin-top: 10px;
    padding: 10px 20px;
}